body {
  background-color: rgb(255, 255, 255);
  font: 700 3.625em/1.38 Ubuntu;
  color: rgb(0, 0, 0);
}

.text {
  float: left;
  width: 80%;
  min-height: 213px;
  margin: 121px 0 0 10%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text span,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}