body {
  background-color: rgb(255, 255, 255);
  font: 300 1em/1.38 Ubuntu;
  color: rgb(255, 255, 255);
}

.about {
  display: block;
  position: absolute;
  top: 1px;
  left: 211px;
  z-index: 13;
  width: 58px;
  min-width: 1px;
  max-width: 58px;
  height: 26px;
  border-radius: 2px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.about:hover,
.blog:hover,
.home:hover,
.meetings:hover,
.sponsors:hover {
  font-weight: 300;
}

.blog {
  display: block;
  position: absolute;
  top: 1px;
  left: 269px;
  z-index: 17;
  width: 45px;
  min-width: 1px;
  max-width: 45px;
  height: 26px;
  border-radius: 2px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.element {
  position: relative;
  float: left;
  z-index: 19;
  width: 100%;
  height: 99px;
  margin-top: -3px;
  background-color: rgb(0, 0, 0);
}

.historypanel {
  position: relative;
  float: left;
  clear: both;
  z-index: 11;
  width: 100%;
}

.historypanel .image {
  position: relative;
  float: left;
  z-index: 8;
  width: 80%;
  margin-left: 9.93107%;
  overflow: hidden;
}

.historypanel .meetingtext {
  z-index: 10;
  font-size: 1.375em;
}

.historypanel .recuit {
  z-index: 9;
  width: 45.4099999999%;
}

.home {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 16;
  width: 54px;
  min-width: 1px;
  max-width: 54px;
  height: 26px;
  border-radius: 2px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.image {
  display: block;
  height: auto;
}

.meetingpanel {
  position: relative;
  float: left;
  z-index: 3;
  width: 100%;
  height: 271px;
  margin-top: 97px;
}

.meetingpanel .meetingtext {
  z-index: 2;
  font-size: 1.75em;
}

.meetingpanel .recuit {
  z-index: 1;
  width: 67%;
}

.meetings {
  display: block;
  position: absolute;
  top: 1px;
  left: 55px;
  z-index: 15;
  width: 77px;
  min-width: 1px;
  max-width: 77px;
  height: 26px;
  border-radius: 2px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 2em
  \;
  text-align: center;
  color: rgb(255, 255, 255);
}

.meetingtext {
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  width: 80.1324503311%;
  min-height: 20px;
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 4px 11px #1f1f1f;
}

.promo1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.recuit {
  display: block;
  position: absolute;
  top: 101px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-right: 6px;
  padding-left: 6px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.125em;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
}

.sponsorpanel {
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  width: 100%;
  margin-top: -119px;
}

.sponsorpanel .image {
  position: relative;
  float: left;
  z-index: 4;
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
}

.sponsorpanel .meetingtext {
  z-index: 6;
  font-size: 1.75em;
}

.sponsorpanel .recuit {
  z-index: 5;
  width: 34.4099999999%;
}

.sponsors {
  display: block;
  position: absolute;
  top: 1px;
  left: 132px;
  z-index: 14;
  width: 79px;
  min-width: 1px;
  max-width: 79px;
  height: 26px;
  border-radius: 2px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text {
  position: relative;
  float: left;
  clear: both;
  z-index: 21;
  width: 100%;
  margin-top: -26px;
  font-size: 0.688dw;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 18;
  width: 100%;
  height: 28px;
}

.topbarbackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  width: 100%;
  height: 28px;
  min-height: 26px;
  max-height: 30px;
  margin: 0 auto;
  background-color: #982424;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.topshroud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 22;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.topshroud .image {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 20;
  width: 340px;
  margin: 0 auto;
  overflow: visible;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Helvetica;
  font-style: italic;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}
