   <center><table width="900" border="1">
  <tr>
    <td width="180" bgcolor="#bb3637">&nbsp;</td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF"><strong>Bronze</strong></font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF"><strong>Silver</strong></font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF"><strong>Gold</strong></font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF"><strong>Namesake</strong></font></td>
  </tr>
  <tr>
    <td width="180">Donation Amount</td>
    <td width="180" align="center">< $500</td>
    <td width="180" align="center">$500 - $1499</td>
    <td width="180" align="center">$1500 -$2499</td>
    <td width="180" align="center">> $2500</td>
  </tr>
  <tr>
    <td width="180" bgcolor="#bb3637"><font color="#FFFFFF">Name on Web Page</font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF">Yes</font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF">Yes</font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF">Yes</font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF">Yes</font></td>
  </tr>
  <tr>
    <td width="180">Logo on Web Page</td>
    <td width="180" align="center">Yes</td>
    <td width="180" align="center">Yes</td>
    <td width="180" align="center">Yes</td>
    <td width="180" align="center">Yes</td>
  </tr>
  <tr>
    <td width="180" bgcolor="#bb3637"><font color="#FFFFFF">Logo on Robot</font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF">No</font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF">No</font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF">Yes</font></td>
    <td width="180" align="center" bgcolor="#bb3637"><font color="#FFFFFF">Yes</font></td>
  </tr>
  <tr>
    <td width="180">Inclusion in Team Name</td>
    <td width="180" align="center">No</td>
    <td width="180" align="center">No</td>
    <td width="180" align="center">No</td>
    <td width="180" align="center">Yes</td>  
    </tr>
</table>

   </center>
